.intro {
  width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.intro__title {
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin-top: 92px;
}

.intro__text {
  width: 738px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-top: 39.98px;
}

.intro__text_right {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin-top: 10px;
}

.intro__text_small {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  margin-top: 31.99px;
  width: 722px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .intro {
    width: 100%;
  }
  .intro__title {
    width: 707px;
    font-size: 45px;
    line-height: 49px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: 100%;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  .intro__text {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
  }
  .intro__text_small {
    width: 100%;
  }
}
