.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  width: 720px;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin-top: 91.06px;
}

.lead__subtitle {
  width: 720px;
  text-align: center;
  font-family: Inter, Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-top: 32px;
}

.lead__image {
  width: 984px;
  margin-top: 64px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .lead__title {
    width: 530px;
    font-size: 75px;
    line-height: 79px;
  }
  .lead__subtitle {
    width: 100%;
  }
  .lead__image {
    width: 100vw;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: 228px;
    font-size: 40px;
    line-height: 44px;
  }
  .lead__subtitle {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
  .lead__image {
    width: 100vw;
  }
}
